# TWILIO ENVIRONMENT VARIABLES
export TWILIO_TWIML_APP_SID=your-twiml-app-sid
export TWILIO_ACCOUNT_SID=your-twilio-account-sid
export TWILIO_API_KEY=your-twilio-api-key
export TWILIO_API_SECRET=your-twilio-api-key-secret

# NGROK ENVIRONMENT VARIABLES
export WS_DOMAIN_NAME=your-ngrok-subdomain.ngrok.app
export WS_URL=wss://your-ngrok-subdomain.ngrok.app/

# AI PLATFORM SELECTION (invokeOpenAI | invokeBedrock)
# YOU MUST SELECT ONE, OR ADD YOUR OWN!
export AI_PLATFORM=invokeOpenAI

# OPENAI ENVIRONMENT VARIABLES
# IF YOU ARE USING ANOTHER LLM PROVIDER JUST LEAVE THE VALUES BELOW
export OPENAI_API_KEY=your-openai-key
export OPENAI_LLM_MODEL=gpt-4o-mini

# AWS ENVIRONMENT VARIABLES
# IF YOU ARE USING ANOTHER LLM PROVIDER JUST LEAVE THE VALUES BELOW
export AWS_PROFILE=local-aws-profile
export AWS_MODEL_IDENTIFIER=amazon.nova-micro-v1:0
export AWS_REGION=your-aws-region

# TWILIO SEND MESSAGE ENVIRONMENT VARIABLES
# OPTIONAL IF YOU WANT TO SEND SMS MESSAGES FROM TOOL CALLS
# JUST LEAVE VALUES BELOW IF YOU DO NOT WANT TO USE MESSAGES
export TWILIO_MESSAGE_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxx
export TWILIO_MESSAGE_AUTH_TOKEN=4jkljxxxxxxxxxxxxxxxxxx
export TWILIO_MESSAGE_FROM_NUMBER=+15555551212

# TWILIO SENDGRID EMAILS ENVIRONMENT VARIABLES
# OPTIONAL IF YOU WANT TO SEND EMAILS MESSAGES FROM TOOL CALLS
# JUST LEAVE VALUES BELOW IF YOU DO NOT WANT TO USE EMAILS
export TWILIO_SENDGRID_API_KEY=SG.Yyxxxxxxxxxxxxxxxxxxxx
export TWILIO_SENDGRID_FROM=verifified-user@yoursendgrid.domain.com

# DEFAULT STACK
export STACK_USE_CASE=albertEinsteinUseCase

npm start